@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    position: fixed !important;
    left: 0;
    top: 0;
}

html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}
